body {

    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

img {

    height: 100px;

}

.button1Div {

    display: flex;
    height: 100%;
    width: 150px;
    justify-content: center;
    align-items: center;

}

.dicesDiv {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;

}

#Box1 {

    height: 200px;
    margin: 20px;
    display: flex;
    border: solid;
    border-radius: 3px;
    border-color: white;
    width: 800px;

}

.Dices {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100px;

}

#button1 {

    height: 40px;
    width: 140px;

}