body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: sans-serif;
    background-color: rgb(20, 20, 20);
    color: white;
}

#sideBar {

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: solid 1px;
    border-color: white;
    background-color: black;

}

.defaultMain {

    width: 80%;
    height: 100%;

}

#loggedInScreen {

    display: none;
    padding: 50px;

}

#mainScreen {

    display: flex;
    align-items: center;
    justify-content: center;

}

#dialog {

    width: 400px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    position: absolute;
    border-style: solid;
    top: -200px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease;

}

#dialogHeader {

    height: 20%;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

#dialogHeader b {

    font-size: x-large;

}

#dialogContent {

    padding-left: 10px;
    height: 60%;

}

#logInButtonDiv {

    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.containerSB {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.buttonsSB {

    width: 80%;
    height: 60px;
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    transition: all 0.1s;
    margin-top: 10px;
    margin-bottom: 10px;

}

.buttonsSB:hover {

    scale: 1.1;

}

#logInButton {

    width: 100px;
    height: 30px;
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    transition: all 0.1s;

}

#logInButton:hover {

    scale: 1.1;

}

#passwordBox {

    display: flex;

}

#passwordBox img {

    height: 20px;
    transform: (translateX(-20px));

}

