body {

    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

}

#Box1 {

    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#button1 {

    width: 80%;
    height: 60px;
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    transition: all 0.1s;
    margin-top: 10px;
    margin-bottom: 10px;

}