body {

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    background: linear-gradient(135deg, rgb(0, 30, 39), rgb(0, 0, 0));
    font-family: sans-serif;
    text-align: center;

}

button {

    margin: 10px;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    background-color: black;
    border-color: white;
    border-width: 5px;
    color: white;
    font-size: xx-large;

}